<html>
	<head>
		<title>AJ's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">AJ's Blog</a></h1>
		</div>
		{% for post in posts%}
			<div>
				<p>{{ post.published_date}}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaks}}</p>
			</div>		
		{% endfor %}
		
		<div>
			<p>published: 2015.08.30, 16:45</p>
			<h2><a href="">Post 01</a></h2>
			<p>contentcontentcontentcontentcontentcontentcontent</p>
		</div>
		<div>
			<p>published: 2015.08.30, 17:45</p>
			<h2><a href="">Post 02</a></h2>
			<p>contentcontentcontentcontentcontentcontentcontent</p>
		</div>
		<div>
			<p>published: 2015.08.30, 18:45</p>
			<h2><a href="">Post 03</a></h2>
			<p>contentcontentcontentcontentcontentcontentcontent</p>
		</div>
	</body>
</html>